<body>
  <div class="row">
    <div class="poz col-md-4 offset-md-4">
      <form [formGroup]="form" (ngSubmit)="onRegister()">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>

          <input type="text" class="form-control" formControlName="email" />
        </div>
        <div class="mb-3">
          <label for="pw" class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="pw" placeholder="Enter password"/>
        </div>
        <div class="mb-3">
          <label for="cpw" class="form-label">Confirm password</label>
          <input type="password" class="form-control" formControlName="cpw" placeholder="Confirm password"/>
        </div>
        <input type="submit" value="Register" class="btn btn-primary" />
      </form>
    </div>
  </div>

  <div id="app"></div>
</body>

